body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  background-position: center;
  background-size: cover;
}

.menu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('/storage/emulated/0/Coffee Shop Menu/71abffd6f60deee9c3ccceb513b6eb05.jpg');
  background-position: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
  
}

.item {
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    background-color: red;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: brown;
}

.image-container {
    flex: 0 0 120px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
  
}

.item:hover img {
    transform: scale(1.1);
}

.item-details {
    flex: 1;
}

h2 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 5px;
  text-align: center;
}

p {
    color: white;
    font-size: 1em;
}

*{
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
  font-family: "Playfair Display", serif;
}
  
  h1 {
            background-color:  #7F5539;
  }